.logo{
    background-color:antiquewhite;

}

.aside-list{
    list-style-type: none;
}
footer{
    background-color:antiquewhite;
    color:black;
}

@media screen and (max-width:576px){
   .logo{
       text-align: center;
   }
}